.lastPost_font_size_large{
 font-size:x-large;
}
.lastPost_text_align_center{
    text-align: center;
}
.lastPost_text_align_right{
    text-align: right;
}
.lastPost_text_align_left{
    text-align: left;
}
.lastPost_text_deco_none{
    text-decoration: none;
}
.lastPost_w30 {
    width: 30%;
}
.lastPost_w70 {
    width: 70%;
}
.lastPost_w100 {
    width: 100%;
}
.lastPost_margin_bottom{
    margin-bottom: 0px;
}
.lastPost_border_radius_20 {
    border-radius: 20px;
}
.lastPost_overflow {
    overflow: auto;
}
.lastPost_max_width {
    max-width: 100%;
}
.lastPost_img_responsive{
    max-width: 100%;
    height: auto;
}
.lastPost_img_size{
    max-width: 150px;
}
.lastPost_img_icon_size{
    max-width: 30px;
}
.lastPost_backgroundColor_grisClair{
    background-color: #e3e3e5;
}
.lastPost_margin_top{
    margin-top: 50px;
}

@media(max-width : 700px){
    .latstPost_responsive_table th{
        display: block ;
        margin-bottom: 10px;
    }
    .latstPost_responsive_table tr{
        margin-bottom: 40px;
    }
    .latstPost_responsive_table td{
        display: block;
        text-align: left;
    }
    .latstPost_responsive_table td:before{
        content: attr(data-label);
        float: left;
    }

}